
.postcard {
    margin-left: 290px;
}

.arrow {
    transform: rotate(45deg)
    }


@media (max-width: 855px) {
    .navbar {
        display: none;
    }
    .postcard {
        margin: auto;
    }
}